@slick-loader-path: "~slick-carousel/slick/";
@slick-font-path: "~slick-carousel/slick/fonts/";
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';

body {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}


/** fonts **/
@font-face {
    font-family: 'Helvetica Light';
    src: url(../assets/fonts/helvetica-light.otf) format("opentype");
}

@font-face {
    font-family: 'Helvetica Black';
    src: url(../assets/fonts/helvetica-black.otf) format("opentype");
}

@font-face {
    font-family: 'Helvetica Medium';
    src: url(../assets/fonts/helvetica-medium.otf) format("opentype");
}

@font-face {
    font-family: 'Helvetica Ultralight';
    src: url(../assets/fonts/helvetica-ultralight.otf) format("opentype");
}

/** welcome **/

.red-text {
    color: #DA353B!important;
}

.black-text {
    color: #000000!important;
}

.white-text {
    color: #ffffff!important;
}

.filter-70op {
    background-color: hsla(0, 0%, 0%, 0.7);
}

.filter-40op {
    background-color: hsla(0, 0%, 0%, 0.4);
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/img/welcome-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 645px;
    color: #ffffff;
    &__filter {
        width: 1347px;
        height: 555px;
    }
    &__menu {
        display: flex;
        flex-direction: row;
        padding: 44px 46px 0 41px;
        justify-content: space-between;
        align-items: center;
        width: inherit;
        margin-bottom: 93px; 
    }
    &__container {
        display: inherit;
        align-items: inherit;
    }
    &__event {
        padding-left: 121px;
    }
}

.menu {
    &__ancor {
        margin-right: 30px;
        &:last-of-type {
            margin-right: 0px;
        }
    }

    &__logo {
        margin-right: 30px;
    }
}

.event {
    &__header {
        width: 566px;
        font-family: 'Helvetica Ultralight';
        font-size: 82px;
        line-height: 90px;
        font-weight: 200;
        text-transform: uppercase;
    }
    &__red-header {
        font-family: 'Helvetica Black';
        color: #DA353B;
        font-weight: bold;
    }
    &__describtion {
        font-family: 'Helvetica Light';
        font-size: 16px;
        line-height: 26px;
        margin-top: 4px;
    }
    &__ancor {
        margin-top: 28px;
    }
    &__info {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        left: 628px;
        width: 500px;
        height: 103px;
        margin-right: 0;
        background-color: #DA353B;
    }
}

@media all and (max-width: 1920px) {
    .event {
        &__info {
            left: 677px;
        }
    }
}

@media all and (max-width: 1440px) {
    .event {
        &__info {
            left: 628px;
        }
    }
}



.ancor {
    display: inline-block;
    font-size: 16px;
    font-family: 'Helvetica Medium';
    &-border {
        font-size: 14px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 40px;
        border: 1px solid #ffffff;
        /*padding: 7px 15px;*/
        background: linear-gradient(to right, #DA353B 50%, hsla(0, 0, 0, 0) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
        &:hover {
            background-position: left bottom;
            border-color: #DA353B;
        }
    }
/*    &:hover {
        font-family: 'Helvetica Light';
    }*/
}

.info {
    &__date {
        font-size: 23px;
        font-family: 'Helvetica Black';
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__place {
        font-size: 15px;
        font-family: 'Helvetica Ultralight';
        text-transform: uppercase;
    }
    &__image {
        width: 140px;
        height: 62px;
    }
}

/** about **/
.about {
    width: 100vw;
    padding-top: 80px;
    &__experience {
        margin-left: 168px;
        margin-bottom: 80px;
    }
    &__rectangle {
        position: absolute;
        left: 80px;
        top: 579px;
        width: 220px;
        height: 220px;
        z-index: 2;
        border: 6px solid #DA353B;
    }
    &__silent {
        display: flex;
        flex-direction: row;
        height: 470px;
    }
    &__earn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 156px;
    }
}

.experience {
    &__header { 
        display: inline-block;
        font-size: 48px;
        font-family: 'Helvetica Black';
        text-transform: uppercase;
        font-weight: 800;
        &-red {
            color: #DA353B;
            margin-right: 10px;
        }
    }
    &__paragraph {
        margin-top: 71px;
        width: 564px;
        height: 108px;
        font-size: 24px;
        line-height: 36px;
        font-family: 'Helvetica Light';
    }
}

.silent {
    &__image {
        width: 811px;
        height: 470px;
    }
    &__filter {
        position: relative;
        left: 310px;
        bottom: 474px;
        z-index: 2;
        width: 501px;
        height: 470px;
        &::after {
            content: '';
            display: inline-block;
            position: relative;
            left: 500px;
            width: 21px;
            height: 470px;
            background-color: #DA353B;
            z-index: 2;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 80px;
        width: 417px;
    }
    &__header {
        display: inline-block;
        font-family: 'Helvetica Black';
        font-size: 36px;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__paragraph {
        font-size: 16px;
        line-height: 26px;
        font-family: 'Helvetica Light';
        &-red {
            margin-top: 14px;
            font-family: 'Helvetica Black';
            color: #DA353B;
        }
    }
}

.earn {
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 169px;
        margin-right: 79px;
        width: 342px;
        height: 343px;
    }
    &__header {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 40px;
        font-family: 'Helvetica Black';
        margin-bottom: 20px;

    }
    &__paragraph {
        font-family: 'Helvetica Light';
        font-size: 16px;
        line-height: 26px;
        width: 297px;
        /*height: 343px;*/
    }
    &__picture {
        /*display: flex;
        flex-direction: column;
        justify-content: center;*/
        width: 845px;
        height: 302px;
        float: right;
        border: 6px solid #DA353B;
        border-right: 6px solid #ffffff;
    }
    &__image {
        position: relative;
        left: 20px;
        bottom: 66px;
        /*float: left;*/
        /*bottom: 15px;*/
        width: 845px;
        height: 343px;
    }

    &__filter {
        position: relative;
        bottom: 413px;
        left: 321px;
        width: 219px;
        height: 343px;
    }
}

.speakers {
    padding-left: 170px;
    margin-top: 90px;
    &__header {
        font-family: 'Helvetica Black';
        font-size: 48px;
        line-height: 26px;
    }
}

.person {
    &__photo {
        width: 380px;
        height: 380px;
    }
    &__name {
        font-family: 'Helvetica Medium';
        font-size: 24px;
        line-height: 34px;
    }
    &__describtion {
        font-family: 'Helvetica Light';
        font-size: 16px;
        line-height: 26px;
    }
}

.slider {
    &__person {
        margin-left: 20px;
        &:last-of-type {
            margin-left: 0px;
        }
    }
}

.programm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url('../assets/img/programm-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    color: #ffffff;
    &__filter {
        width: 1260px;
        height: 763px;
    }
    &__rectangle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: 160px;
        top: 57px;
        width: 1190px;
        height: 113px;
        margin-bottom: 43px;
        background-color: #DA353B;
    }
    &__header {
        font-family: 'Helvetica Black';
        font-size: 48px;
        line-height: 26px;
        color: #ffffff;
        text-transform: uppercase;
        position: relative;
        right: 83px;
    }
    &__list {
        position: relative;
        top: 57px;
        padding-left: 160px;
    }
    &__performance {
        &::after {
            content: '';
            display: inline-block;
            box-sizing: border-box;
            margin-bottom: 25px;
            width: 700px;
            height: 6px;
            background-color: #ffffff;
        }
    }
}


@media all and (max-width: 1920px) {
    .programm {
        &__rectangle {
            left: 208px;
        }
    }
}

.performance {
    &__time {
        font-family: 'Helvetica Black';
        font-size: 20px;
        line-height: 26px;
        color: #ffffff;
        margin-bottom: 8px;
    }
    &__describtion {
        font-family: 'Helvetica Light';
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        margin-bottom: 9px;
    }
    &__speaker {
        font-family: 'Helvetica Black';
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        color: #DA353B;
        margin-bottom: 10px;
    }
}

.gallery {
    width: 100vw;
    height: 722px;
    padding-top: 73px;
    &__header {
        position: relative;
        font-family: 'Helvetica Black';
        font-size: 48px;
        margin-bottom: 30px;
        margin-left: 170px;
        text-transform: uppercase;
        z-index: 2;
    }
    &__slider {
        width: 100%;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__rectangle {
        position: relative;
        bottom: 212px;
        margin-bottom: -212px;
        left: 92px;
        width: 220px;
        height: 220px;
        border: 6px solid #DA353B;
    }
}

.slider {
    &__photo {
        width: 380px;
        height: 380px;
    }
    &__filter {
        position: relative;
        &:nth-of-type(1) {
            width: 380px;
            height: 161px;
            bottom: 200px;
        }
    }
}

.slick {
    &-slide {
    width: 380px;
    height: 380px;
    margin-left: 20px; 
    }
    &-prev {
        position: relative;
        left: 1244px;
        top: 484px;
        &::before {
            content: url('../assets/img/prev-arrow.svg');
            &:hover {
                color: #ffffff;
            }
        }
    }
    &-next {
        position: relative;
        left: 1307px;
        right: 0px;
        top: 61px;
        &::before {
            content: url('../assets/img/next-arrow.svg');
        }
    }
    &-next, &-prev {
        width: 43px;
        height: 43px;
        border: 2px solid #DA353B;
        background: linear-gradient(to right, #DA353B 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
        &:hover {
            background-position: left bottom;
            fill: #ffffff;
        }
    }
}

@media all and (max-width: 1920px) {
    .slick {
        &-prev {
            left: 1304px;
        }
        &-next {
            left: 1367px;
        }
    }
}


.join {
    position: relative;
    width: 100vw;
    height: 1004px;
    background-image: url('../assets/img/join-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 84px;
    &__header {
        font-family: 'Helvetica Black';
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 39px;
    }
    &__container {
        &-flex {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            /*height: 791px;*/
        }
    }
    &__picture {
        height: 558px;
        width: 465px;
        border: 6px solid #DA353B;
    }
    &__image {
        position: relative;
        width: 521px;
        height: 573px;
        right: 100px;
        top: 20px;
    }
    &__footer {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/img/logo.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 213px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.form {
    &__group {
        display: flex;
        flex-direction: column;
    }
    &__label {
        font-family: 'Helvetica Light';
        font-size: 14px;
        margin-bottom: 6px;
    }
    &__input {
        font-family: 'Helvetica Medium';
        font-size: 20px;
        line-height: 26px;
        padding-bottom: 18px;
        text-transform: uppercase;
        width: 540px;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 3px solid #000000;
        margin-bottom: 30px;
        &:active {
            outline: none;
            background: transparent;
        }
        &:focus {
            background: transparent;
            outline: none;
        }
    }
    &__button {
        font-size: 20px;
        font-family: 'Helvetica Medium';
        color: #ffffff;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        margin-top: 43px;
        outline: none;
        border: none;
        background: linear-gradient(to right, #000000 50%, #DA353B 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
        &:hover {
            background-position: left bottom;
        }
    }
}

.footer {
    &__socials {
        display: flex;
        flex-direction: row;
        margin-left: 546px;
        margin-right: 546px;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__contacts {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 90px;
        padding-right: 90px;
    }
}

.socials {
    &__link {
        color: rgba(255, 255, 255, 0.6);
        &:hover {
            color: rgba(255, 255, 255, 1);
        }
        &:last-of-type {
            &::after {
                display: none;
            }
        }
        &::after {
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            background-color: #DA353B;
            position: relative;
            bottom: 10px;
            left: 25px;
            margin-right: 25px;
        }
    }
}

.contacts {
    &__logo {
        margin-right: 82px;
        opacity: 0.6;
    }
    &__link {
        font-family: 'Helvetica Light';
        font-size: 16px;
        color: #ffffff;
        &-group1 {
            margin-right: 20px;
            &:nth-of-type(3) {
                margin-right: 121px;
            }
        }
        &-group2 {
            margin-right: 51px;
            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
}

@media all and (max-width: 1920px) {
    .socials {
        &__link {
            &::after {
                left: 30px;
            }
        }
    }
}

@media all and (max-width: 1440px) {
    .socials {
        &__link {
            &::after {
                left: 25px;
            }
        }
    }
}